<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-image">

  <ion-grid *ngIf="dishes">
    <ion-row>
      <!-- list -->
      <ion-col size="12" sizeLg="4"  *ngFor="let dish of dishes">
        <ion-card [routerLink]="['/dishdetail', dish.id]" (press)="addToFavorites(dish.id)">
          <img src="{{baseUrl + dish.image}}" />
          <div class="card-title">{{ dish.name }}</div>
          <div class="card-subtitle">{{ dish.description }}</div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- loading -->
  <div [hidden]="dishes || dishesErrorMessage">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please wait</h4>
  </div>

  <!-- error -->
  <div *ngIf="dishesErrorMessage">
    <h2>Error</h2>
    <h4>{{ dishesErrorMessage }}</h4>
  </div>

</ion-content>