// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

.background-pale {
    --background: $background-pale;
}

.side-nav-list {
    padding-top: 0px;
    padding-bottom: 0px;
}

.side-nav-header {
    background-color: $background-light;
}

.side-nav-header-thumbnail {
    width: 40% !important;
    height: 40% !important;
}