<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- featured dish -->
  <ion-card *ngIf="featuredDish">
    <img src="{{baseUrl + featuredDish.image}}"/>
    <ion-card-content>
      <ion-card-title>{{ featuredDish.name }}</ion-card-title>
      <p>{{ featuredDish.description }}</p>
    </ion-card-content>
  </ion-card>
  <!-- loading -->
  <div [hidden]="featuredDish || featuredDishErrorMessage">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please wait</h4>
  </div>
  <!-- error -->
  <div *ngIf="featuredDishErrorMessage">
    <h2>Error</h2>
    <h4>{{featuredDishErrorMessage}}</h4>
  </div>

  <!-- featured promotion -->
  <ion-card *ngIf="featuredPromotion">
    <img src="{{baseUrl + featuredPromotion.image}}"/>
    <ion-card-content>
      <ion-card-title>{{ featuredPromotion.name }}</ion-card-title>
      <p>{{ featuredPromotion.description }}</p>
    </ion-card-content>
  </ion-card>
  <!-- loading -->
  <div [hidden]="featuredPromotion || featuredPromotionErrorMessage">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please wait</h4>
  </div>
  <!-- error -->
  <div *ngIf="featuredPromotionErrorMessage">
    <h2>Error</h2>
    <h4>{{featuredPromotionErrorMessage}}</h4>
  </div>

  <!-- featured leader -->
  <ion-card *ngIf="featuredLeader">
    <img src="{{baseUrl + featuredLeader.image}}"/>
    <ion-card-content>
      <ion-card-title>{{ featuredLeader.name }}</ion-card-title>
      <p>{{ featuredLeader.description }}</p>
    </ion-card-content>
  </ion-card>
  <!-- loading -->
  <div [hidden]="featuredLeader || featuredLeaderErrorMessage">
    <ion-spinner></ion-spinner>
    <h4>Loading... Please wait</h4>
  </div>
  <!-- error -->
  <div *ngIf="featuredLeaderErrorMessage">
    <h2>Error</h2>
    <h4>{{featuredLeaderErrorMessage}}</h4>
  </div>

</ion-content>
